@import "~bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
  padding: 20px;
}

#excuse {
  font-size: 50px;
}

#boton {
  text-align: center;
  margin: 5%;
}

#reload {
  background-color: lightgreen;
}
